<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868071963296-3fnrbs552te8gknh2gt02n84a2ft9ggb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868071963296-3fnrbs552te8gknh2gt02n84a2ft9ggb</string>
	<key>API_KEY</key>
	<string>AIzaSyDTV-XwD4sP-VSh66plasjEDb70SLcgR50</string>
	<key>GCM_SENDER_ID</key>
	<string>868071963296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noticeBoardApp</string>
	<key>PROJECT_ID</key>
	<string>first-firebase-study-f7c53</string>
	<key>STORAGE_BUCKET</key>
	<string>first-firebase-study-f7c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868071963296:ios:da7615e1614a6fe0e627c5</string>
</dict>
</plist>